<!DOCTYPE html>
{% block content %}
<html lang="en">
<title>Catalog App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <a href="{{url_for('showCategoriesLatestItems')}}"><h3 class="w3-padding-64 w3-center"><b>Catalog App</b></h3></a>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <h4 class="w3-bar-item"><b>Categories</b></h4>
  <!---<a href="#" onclick="w3_close()" class="w3-bar-item w3-button">PORTFOLIO</a> 
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT ME</a> 
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a> -->
  
  	{% for category in categories %}
		<a href = "{{url_for('showCategoriesSelectedItems', name = category.name)}}" class="w3-bar-item w3-button">
			{{category.name}}
		</a>
	{% endfor %}    
        {% if currentUserName == 'none' %} 
        <div style="position: absolute; bottom:100px;margin-left:auto;margin-right:auto;width: 300px">
            <a href="{{url_for('showLogin')}}">
				<button class="btn btn-default" style="margin-top:50px"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Login</button>
			</a>
            <br><a href="{{url_for('getUserInfo')}}"><button class="btn btn-default" style="margin-top:50px"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>New Profile</button></a>
        </div>    
        {% else %}  
        <div style="position: absolute; bottom:100px;margin-left:auto;margin-right:auto;width: 300px">
            <b>{{currentUserName.name}}</b><br>
            <a href="{{url_for('disconnect')}}">
                <button class="btn btn-default" style="margin-top:10px"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Logout</button>
            </a>
        </div>    
        {% endif %}
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">Catalog App</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>
<div class = 'flash'>
	  {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
{% if showLatest == 'true' %} 
    {% include "latestitems.html" %}
{% endif %}
{% if showCategoryItem == 'true' %} 
    {% include "categoryitems.html" %}
{% endif %}
{% if showDescription == 'true' %} 
    {% include "itemdescription.html" %}
{% endif %}
{% if newUser == 'true' %} 
    {% include "userinfo.html" %}
{% endif %}
{% if newItem == 'true' %} 
    {% include "newitem.html" %}
{% endif %}
{% if editItem == 'true' %} 
    {% include "edititem.html" %}
{% endif %}
{% if deleteItem == 'true' %} 
    {% include "deleteitem.html" %}
{% endif %}
<!--
<div class="w3-main" style="margin-left:300px">
    <div style="margin-left:50px;margin-top:210px" >
      <h4 class="w3-text-grey"><b>Latest Items</b></h4>
  	{% for item in items %}
		<a href = "{{url_for('showCategoriesLatestItems', item_id = item.id)}}">
			<div>
                <div class="w3-bar-item w3-button">
                       {{item.title}}
				</div>
			</div>
		</a>
	{% endfor %}
    </div>  
</div>
-->
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>
</html>
{% endblock %}
