<div class="w3-main" style="margin-left:300px">
    <div style="margin-left:50px;margin-top:210px" >
      <h4 class="w3-text-grey"><b>Delete Item</b></h4>
<form action="#" method = "post" autocomplete="on">
    <div class="w3-text-grey" style="font-weight:bold;padding:8px 16px;">
       Are you sure you want to Delete the item?
    </div>
  <br>
<input type="submit" value="Delete">
</form>
    <br>
    <button>
        <a href = "{{url_for('showCategoriesLatestItems')}}"><span aria-hidden="true"></span> Cancel
    </button>
    </div>    
</div>