<div class="w3-main" style="margin-left:300px">
    <div style="margin-left:50px;margin-top:210px" >
      <h4 class="w3-text-grey"><b>Edit Item</b></h4>
<form action="#" method = "post" autocomplete="on">
  Title:
  <br><input type="text" name="title" value="{{title}}" required><br>
  Description:
  <br><input type="text" name="desc" value="{{item.description}}"><br>
  Category:
  <br><input type="text" name="name" value="{{name}}" required><br>
  <br>
<input type="submit" value="Update">
</form>
    </div>    
</div>