<div class="w3-main" style="margin-left:300px">
    <div style="margin-left:50px;margin-top:210px" >
    {% if currentUserName != "none" %}
        <a href = "{{url_for('createNewItem')}}">
            <div class="w3-text-grey" style="font-weight:bold;padding:8px 16px;">
                Add New Item
            </div>
        </a>
    {% endif %}
      <h4 class="w3-text-grey"><b>Latest Items</b></h4>
  	{% for item in items %}
        <!-- below is needed to get right name of the category based on item -->
        {% for category in categories %}
            {% if category.id == item.category_id %} 
                {% set name2 = category.name %}                       
		<a href = "{{url_for('showItemDescription', name = name2, title = item.title)}}">
			<div>
				<!--<div class="col-md-1"></div>-->
					<div class="w3-text-grey" style="font-weight:bold;padding:8px 16px;">
                        {{item.title}} <i style="font-weight:normal;"> ({{name2}})</i>
					</div>
				<!--<div class="col-md-1"></div>-->
			</div>
		</a>
            {% endif %}
        {% endfor %} 
	{% endfor %}
    </div>  
</div>